*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
main{
  height: 100vh;
  background: url('https://images.unsplash.com/photo-1477346611705-65d1883cee1e?dpr=0.800000011920929&auto=format&fit=crop&w=1199&h=800&q=80&cs=tinysrgb&crop=') fixed no-repeat;
  background-size: cover;
}
#container{
  width: 350px;
  height: 500px;
  background: inherit;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  margin-left: -175px;
  margin-top: -250px;
  border-radius: 8px;
  transition: transform 0.5s;
}
#container:before{
  width: 400px;
  height: 550px;
  content: "";
  position: absolute;
  top: -25px;
  left: -25px;
  bottom: 0;
  right: 0;
  background: inherit;
  box-shadow: inset 0 0 0 200px rgba(255,255,255,0.2);
  filter: blur(10px);
}
p {
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  color: white;
  transform: translate(-50%,-50%);
  overflow-y: scroll;
  width: 100%;
  height: 100%;
}

.toggle {
  position: absolute;
  font-size: 150px;
  top: 0;
  left: 0;
}


.container.down {
  transform: translateY(500px) translateY(-5em) translateZ(0);
}

.bee {
  transition: transform 1s;
  position: absolute;
  top: 0;
  left: 0;
}
